body{

     background-image: url("https://puntozip.files.wordpress.com/2008/11/niebla_y_arboles.jpg");    
    background-size: auto ;
}

.carrusel{

    height: 50rem;
    width: 50rem;
    margin: auto;
}
.textos{
        text-align: center;
        color:black;
}
.buscar{
    color:black;
    text-align: right;
   
}
.contenedor{
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    color:#FDFDFD ;
    background-image: url("https://cdn-www.bluestacks.com/bs-images/DBDM_HowtoBecomeaRuthlessKiller_S1.jpg");
}
.Toño{
    float: right;
}
.Tomi{
    float: left;
}
.Coni{
    float: center;
}
.boton{
    font-size: 35px;
}